.spotify-callback {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  .loader {
    margin-top: 150px;
    width: 200px;
    padding: 16px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--link-color);
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
