@import "normalize.css";
@import "reset.css";
@import "./style_aux.css";

.App {
  background-color: var(--background-color);
  height: 100vh;
}

.main-content {
  padding: 10px;
  margin: 20px;

}


h1{
  font-size: 30px;
  padding-block: 5px;
}

p{
  font-size: 20px;
}
