@import "normalize.css";
@import "reset.css";
@import "./style_aux.css";

.App {
  background-color: var(--background-color);
  box-sizing: border-box;
  height: 100%;
}

.main-content {
  
  padding: 10px;
  margin: 20px;
  height: 100%;
}


h1{
  font-size: 30px;
  padding-block: 5px;
}

p{
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 7px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-color); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
  cursor: pointer;
}