:root {
    --primary-color: #121212;
    --secondary-color: #555555;
    --background-color: #fff;
    --text-color: #fff;
    --link-color: #1db954;
    --hover-color: #1fdf64;
    --dark-input: rgb(174, 174, 174, 0.2);
}