:root {
    --primary-color: #121212;
    --secondary-color: #555555;
    --background-color: #fff;
    --text-color: #fff;
    --link-color: #1db954; /* Color del enlace */
    --hover-color: #1fdf64; /* Color del enlace al pasar el ratón */
}